
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  position: relative;
}
/*Navbar STYLES*/
.active{
  background-color: rgb(11, 127, 180);
}
.navbar{
  padding: 2% 8%;/*
  display: flex;
  justify-content: space-between;*/
  position: sticky;
  background-color: aliceblue;
  left: 0;
  top: 0;
  right: 0;
}
.navbar-container{
  display: flex;
  justify-content: space-between;
}
.logo a h1{
  color: black;
}
.logo a{
  text-decoration: none;
}
.navbar-links{
  display: flex;
}
.hidden-navbar-links{
  display: none;
  text-align: center;
}
.hidden-navbar-links ul li{
  list-style: none;
}
.hidden-navbar-links ul li a{
  text-decoration: none;
  color: grey;
  font-weight: 800;
  font-size: 20px;
}
.dropdown{
  position: relative;
}
.dropdown-child{
  position: absolute;
  left: 0;
  top: 20px;
  display: flex;
  flex-direction: column;
  background-color: azure;
  border-radius: 5px;
  padding: 10px;
  display: none;
}
.dropdown:hover>.dropdown-child{
  display: flex;
}
.navbar-links ul li{
  list-style: none;
  display: inline;
  margin-right: 10px;
}
.navbar-links ul li a{
  text-decoration: none;
  color: grey;
  font-weight: 800;
  font-size: 20px;
}
.navbar-links a{
  font-size: 30px;
  color: rgb(43, 40, 40);
  margin-right: 10px;
}
.navbar-links a:hover{
  color: black;
}
.menu-collapse-icon{
  display: none;
  font-size: 30px;
}
.Hidden-navbar-links ul{
  display: none;
}

/*OFF-CANVA STYLES*/
.offCanva{
  display: none;
  background-color: rgb(181, 201, 219);
  padding: 2% 5%;
  position: fixed;
  top: 0;
  right: 0;
  width: 40vw;
  height: 100%;
}
.item{
  display: flex;
  margin: 10px ;
  align-items: center;
  transition: box-shadow 0.3s ease-in-out;
}
.item:hover{
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

/*CHECKOUT STYLES*/
.Checkout-container{
  display: flex;
}
.array-container{
  flex: 2;
  margin-right: 20px;
}
.summary-container{
  flex: 1;
}
.order-summary{
  border: 1px solid grey;
  border-radius: 20px;
  margin: 10px 0;
  padding: 5%;
}
.order-summary button{
  padding: 15px 20px;
  color: white;
  background-color: rgb(19, 160, 94);
  border-radius: 50px;
  border: none;
  margin: 10px 0;
  width: 100%;
}
.coupon-container{
  border: 1px solid grey;
  border-radius: 20px;
  margin: 10px 0;
  padding: 5%;
  display: flex;
  justify-content: space-between;
}
.coupon-container input{/*
  width: 100%;*/
  height: 100%;
  padding: 2%;
  font-size: 15px;
  border: none;
}
.coupon-container button{
  padding: 10px 25px;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid grey;
}
.D-terms-container{
  border: 1px solid grey;
  border-radius: 20px;
  margin: 10px 0;
  padding: 10%;
}
.D-terms-container button{
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
}
.Returns-container{
  border: 1px solid grey;
  border-radius: 20px;
  margin: 10px 0;
  padding: 10%;
}
.Returns-container button{
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
}
/*HOME SECTION*/
.home-section-btn{
  padding: 20px 30px;
  margin: 10px;
  border: none;
  font-size: 20px;
}
.home-section-btn:hover{
  background-color: rgb(0, 162, 255);
}
#home h1{
  color: rgb(112, 161, 189);
  font-size: 6rem;
}

/*About-us section*/
.about-section{
  display: flex;
  justify-content: space-between;
}
.about-section div{
  margin-right: 10px;
}
.abt-img{
  width: 25rem;
  height: 20rem;
}
.about-section h2{
  font-size: 2.5rem;
}
/*why choose us*/
.authority{
  display:flex;
  justify-content: space-between;
}
.authority-col{
  width: 50%;
  margin: 20px;
  line-height: 1.5;
}
/*SHOP-NOW*/
.shop-now-section{
  display: flex;
  justify-content: space-between;
}
.display{
  display: flex;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 75vh;
  height: 35rem;
}
/*Mission*/
.mission-section{
  display: flex;
  justify-content: space-between;
}
/*Reviews*/
.card-container{
  display: flex;
  justify-content: center;
}
.card{
  background-color: aliceblue;
  border: 1px solid grey;
  width: 300px;
  margin: 20px;
  text-align: start;
  padding: 2%;
}
/*CONTACT*/
.page-title{
  text-align: center;
}
.page-title h1{
  font-size: 8rem;
  margin: 25px 0;
}
.Contact-sec-container{
  margin: 3%;
  background-color: aliceblue;
}
.Contact-form-sec{
  display: flex;
  justify-content: space-between;
}
.info-section{
  width: 50%;
  margin: 10px;
 }
 .input-section{
   width: 100%;
   margin: 10px;
}
.input-section button{
  padding: 20px 30px;
  margin: 20px 0;
  font-size: 15px;
  font-weight: 550;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  transition: 0.5s all ease;
}
.input-section button:hover{
  background-color: blue;
}
/*SALE SECTION STYLES*/
.OnSale-Container{
  display: flex;
  justify-content: space-around;
}
.sale-1{
  width: 25vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sale-2{
  width: 25vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*FAQs*/
.FAQ{
  margin: 8% 5%;
}
.FAQ h2{
  margin: 20px 0;
}
.accordion-container{
  border: 1px solid black;
}
.content-title{
  border-bottom: 1px solid black;
  padding: 20px;
}
.content-text{
  border-bottom: 1px solid black;
  padding: 20px;
  display: none;
}
.content-text.open{
  display: block;
}

/*CTA*/
.CTA{
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 50vh;
  padding: 0 8%;
  display: flex;
  justify-content: center;
}
.CTA-home{
  margin: auto 0;
  text-align: center;
}
.CTA-home h1{
  color:aliceblue;
  font-size: 4rem;
}
.CTA-home p{
  font-size: 18px;
  color: rgb(5, 140, 236);
  font-weight: bold;
}
.CTA-btn{
  padding:15px 30px;
  border:none;
  margin-right:20px;
}
.CTA-btn:hover{
  background-color: rgb(175, 199, 223);
}
/*PRODUCTS DISPLAY STYLE*/
.Rendering-products{
  display: grid;
  grid-template-columns: repeat(3,30%);
  justify-content: center;
}
.Rendering-products a{
  text-decoration: none;
  color: black;
}

/*PRODUCTS ON PREVIEW*/
.preview{
  display: flex;
  background-color: white;
  width: 100%;
  padding: 3% ;
  justify-content: space-between;
}
.preview-sec1{
  width: 100%;
  margin: 10px;
}
.preview-sec1 div{
  width: 30rem;
  height: 30rem;
}
.preview-sec2{
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
}
.preview-sec2 h1{
  font-size: 50px;
}
.add-to-cart-btn{
  padding: 13px 30px;
  margin: 10px;
  background-color: black;
  color: white;
  transition: 0.5s all ease;
}
.add-to-cart-btn:hover{
  background-color: aliceblue;
  color: black;
}

/*SHOPPING CART STYLES*/
.cartShopping-cart-container div {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
.cartShopping-cart-container div.show {
  transform: translateX(0);
}

/*CART SUMMARY UPON CHECKOUT STYLES*/
.Cart-Summary-Container{
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  padding: 10px;
  margin: 20px 5px;
}



/*FOOTER*/
.footer{
  padding: 0 8%;
}
.offerings{
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.offerings p{
  color: rgb(19, 160, 94);
  font-size: 25px;
  margin: 0 50px;
}
.offerings p span{
  color: black;
  margin-left: 8px;
}
.footer-row{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;/*
  flex-wrap: wrap;*/
}
.footer-col{
  width: 25%;
  padding: 20px 30px;/*
  margin: 10px;*/
}
.footer-col h3{
  margin-bottom: 20px;
  font-size: 25px;
}
.footer-col p{
  color: grey;
  font-size: 19px;
}
.footer-col ul li{
  list-style: none;
}
.footer-col ul li a{
  text-decoration: none;
  color: grey;
  font-size: 19px;
}
.footer-col ul li a:hover{
  font-weight: 900;
  color: black;
}
.social-icons{
  margin: 15px 0;
}
.social-icons a{
  color: rgb(26, 24, 24);
  font-size: 19px;
  margin: 10px 5px;
}
.social-icons a:hover{
  color: rgb(107, 173, 173);
}

/*Making the Components Responsive*/
@media (max-width:600px) {
  /*NAVBAR*/
  .navbar{
    padding: 4%;
    left: 0;
  }
  .navbar-links ul li{
    display: none;
  }
  .menu-collapse-icon{
    display: block;
  }
  .Hidden-navbar-links ul.open{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .Hidden-navbar-links ul li{
    margin: 1rem auto;
    list-style: none;
  }
  .Hidden-navbar-links ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: grey ;
  }
  .hidden-dropdown-child{
    display: flex;
    flex-direction: column;
    background-color: azure;
    border-radius: 5px;
    padding: 10px;
  }

  /*OFF-CANVA STYLES*/
  .offCanva{
    width: 93%;
    height: 100%;
  }

  /*CHECKOUT STYLES*/
  .Checkout-container{
    flex-direction: column;

  }
  .array-container{
    flex: 1;
    margin: 0;
  }
  .summary-container{
    flex: 1;
  }

  /*HOME SECTION*/
  #home h1{
    color: rgb(112, 161, 189);
    font-size: 4rem;
  }
  /*ABOUT_SECTION*/
  .about-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-section img{
    width: 100%;
    height: 15rem;
  }
  .about-section h2{
    font-size: 2rem;
  }

  .offerings{
    flex-direction: column;
  }
  /*why choose us*/
  .authority{
    flex-direction: column;
  }
  .authority-col{
    width: 100%;
    margin: 10px;
    line-height: 1.5;
  }
  /*SHOP-NOW*/
  .shop-now-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .display{
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 25rem;
    margin: 10px;
  }

  /*Mission*/
  .mission-section{
    flex-direction: column;
  }
  /*Reviews*/
  .card-container{
    flex-direction: column;
  }
  /*CTA*/
  .CTA{
    height: 120vh;
  }
  /*CONTACT*/
  .page-title h1{ 
    font-size: 5rem;
  }
  .Contact-sec-container{
    margin: 0;
  }
  .Contact-form-sec{
    flex-direction: column;
    padding: 5%;
  }
  .info-section{
   width: 100%;
   margin: 10px;
  }
  .input-section{
    width: 100%;
    margin: 10px;
   }

  /*SALE SECTION STYLES*/
  .OnSale-Container{
    display: flex;
    flex-direction: column;
  }
  .sale-1{
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .sale-2{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 30px;
  }

  /*PRODUCTS DISPLAY STYLE*/
  .Rendering-products{
    grid-template-columns: repeat(1,100%);
  }
  /*PRODUCTS ON PREVIEW*/
  .preview{
    flex-direction: column;
    padding: 1%;
  }
  .preview-sec1 div{
    width: 100%;
    height: 25rem;
  }
  .preview-sec1{
    margin: 0;
  }
  .preview-sec2{
    margin: 0;
  }



  /*FOOTER*/
  .footer-row{
    flex-direction: column;
  }
  .footer-col{
    width: 90%;
  }
}

/*FAQS*/
.FAQ{
  padding: 0 8%;
}
.FAQ h2{
  font-size: 3rem;
}
.FAQ p{
  font-size: 20px;
}

@media (min-width: 600px) {
    /*OFF-CANVA STYLES*/
    .offCanva{
      width: 60vw;
      height: 100%;
    }

    /*CHECKOUT STYLES*/
    .Checkout-container{
      flex-direction: column;
    }
    .array-container{
      flex: 1;
      margin: 0;
    }
    .summary-container{
      flex: 1;
    }
  

    /*About-us section*/
    .about-section img{
      width: 20rem;
      height: 18rem;
    }

    /*SHOP-NOW*/
    .shop-now-section{
      flex-direction: row;
    }
    .display{
      margin: 10px;
    }

    /*SALE SECTION STYLES*/
    .OnSale-Container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .sale-1{
      width: 75%;
      height: 50vh;
      display: flex;
      flex-direction: column;
      text-align: center;
      background-attachment: cover;
      background-repeat: no-repeat;
    }
    .sale-2{
      width: 75%;
      height: 50vh;
      margin-top: 50px;
      text-align: center;
      background-attachment: cover;
      background-repeat: no-repeat;
    }

    /*PRODUCTS DISPLAY STYLE*/
    .Rendering-products{
      grid-template-columns: repeat(2,50%);
    }
    /*PRODUCTS ON PREVIEW*/
    .preview-sec1 div{
      width: 20rem;
      height: 25rem;
    }
}

@media (min-width: 1000px) {

  /*OFF-CANVA STYLES*/
  .offCanva{
    width: 40vw;
    height: 100%;
  }

  /*CHECKOUT STYLES*/
  .Checkout-container{
    flex-direction: row;
  }
  .array-container{
    flex: 2;
    margin-right: 20px;
  }
  .summary-container{
    flex: 1;
  }

  /*About-us section*/
  .about-section img{
    width: 30rem;
    height: 22rem;
  }

  /*SHOP-NOW*/
  .shop-now-section{
    flex-direction: row;
  }

  /*SALE SECTION STYLES*/
  .OnSale-Container{
    display: flex;
    flex-direction: row;
  }
  .sale-1{
    width: 35vw;
    height: 70vh;/*
    display: flex;
    flex-direction: column;
    align-items: center;*/
    text-align: center;
    background-attachment: cover;
    background-repeat: no-repeat;
  }
  .sale-2{
    width: 35vw;
    height: 70vh;/*
    display: flex;
    flex-direction: column;
    align-items: center;*/
    text-align: center;
    margin-top: 0;
    background-attachment: cover;
    background-repeat: no-repeat;
  }

  /*PRODUCTS DISPLAY STYLE*/
  .Rendering-products{
    grid-template-columns: repeat(3,30%);
  }

  /*PRODUCTS ON PREVIEW*/
  .preview-sec1 div{
    width: 30rem;
    height: 35rem;
  }


}