
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  position: relative;
}
/*Navbar styles*/
.navbar{
  padding: 2% 8%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: aliceblue;
  left: 0;
  top: 0;
  right: 0;
}
.logo a h1{
  color: black;
}
.logo a{
  text-decoration: none;
}
.navbar-links{
  display: flex;
}
.navbar-links ul li{
  list-style: none;
  display: inline;
  margin-right: 10px;
}
.navbar-links ul li a{
  text-decoration: none;
  color: grey;
  font-weight: 800;
  font-size: 20px;
}
.navbar-links a{
  font-size: 30px;
  color: rgb(43, 40, 40);
  margin-right: 10px;
}
.navbar-links a:hover{
  color: black;
}
.navbar-links .menu-collapse-icon{
  display: none;
}

/*HOME SECTION*/
.home-section-btn{
  padding: 20px 30px;
  margin: 10px;
  border: none;
  font-size: 20px;
}
.home-section-btn:hover{
  background-color: rgb(0, 162, 255);
}
#home h1{
  color: rgb(112, 161, 189);
  font-size: 6rem;
}

/*About-us section*/
.about-section{
  display: flex;
  justify-content: space-between;
}
.about-section div{
  margin-right: 10px;
}
.about-section img{
  width: 25rem;
  height: 25rem;
}
.about-section h2{
  font-size: 2.5rem;
}
/*why choose us*/
.authority{
  display:flex;
  justify-content: space-between;
}
.authority-col{
  width: 50%;
  margin: 20px;
  line-height: 1.5;
}
/*SHOP-NOW*/
.shop-now-section{
  display: flex;
  justify-content: space-between;
}
.display{
  display: flex;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 75vh;
  height: 35rem;
}
/*Mission*/
.mission-section{
  display: flex;
  justify-content: space-between;
}
/*Reviews*/
.card-container{
  display: flex;
  justify-content: center;
}
.card{
  background-color: aliceblue;
  border: 1px solid grey;
  width: 300px;
  margin: 20px;
  text-align: start;
  padding: 2%;
}


/*CTA*/
.CTA{
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 50vh;
  padding: 0 8%;
  display: flex;
  justify-content: center;
}
.CTA-home{
  margin: auto 0;
  text-align: center;
}
.CTA-home h1{
  color:aliceblue;
  font-size: 4rem;
}
.CTA-home p{
  font-size: 18px;
  color: rgb(5, 140, 236);
  font-weight: bold;
}
.CTA-btn{
  padding:15px 30px;
  border:none;
  margin-right:20px;
}
.CTA-btn:hover{
  background-color: rgb(175, 199, 223);
}


/*FOOTER*/
.footer{
  padding: 0 8%;
}
.offerings{
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.offerings p{
  color: rgb(19, 160, 94);
  font-size: 25px;
  margin: 0 50px;
}
.offerings p span{
  color: black;
  margin-left: 8px;
}
.footer-row{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;/*
  flex-wrap: wrap;*/
}
.footer-col{
  width: 25%;
  padding: 20px 30px;/*
  margin: 10px;*/
}
.footer-col h3{
  margin-bottom: 20px;
  font-size: 25px;
}
.footer-col p{
  color: grey;
  font-size: 19px;
}
.footer-col ul li{
  list-style: none;
}
.footer-col ul li a{
  text-decoration: none;
  color: grey;
  font-size: 19px;
}
.footer-col ul li a:hover{
  font-weight: 900;
  color: black;
}
.social-icons{
  margin: 15px 0;
}
.social-icons a{
  color: rgb(26, 24, 24);
  font-size: 19px;
  margin: 10px 5px;
}
.social-icons a:hover{
  color: rgb(107, 173, 173);
}

/*Making the componets Responsive*/
@media (max-width:600px) {
  /*NAVBAR*/
  .navbar{
    padding: 2%;
    left: 0;
  }
  .navbar-links ul li{
    display: none;
  }
  .navbar-links .menu-collapse-icon{
    display: block;
  }
  /*HOME SECTION*/
  #home h1{
    color: rgb(112, 161, 189);
    font-size: 4rem;
  }
  /*ABOUT_SECTION*/
  .about-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-section img{
    width: 100%;
    height: 25rem;
  }
  .about-section h2{
    font-size: 2rem;
  }

  .offerings{
    flex-direction: column;
  }
  /*why choose us*/
  .authority{
    flex-direction: column;
  }
  .authority-col{
    width: 100%;
    margin: 10px;
    line-height: 1.5;
  }
  /*SHOP-NOW*/
  .shop-now-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .display{
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 25rem;
    margin: 10px;
  }

  /*Mission*/
  .mission-section{
    flex-direction: column;
  }
  /*Reviews*/
  .card-container{
    flex-direction: column;
  }
  /*CTA*/
  .CTA{
    height: 120vh;
  }
  /*FOOTER*/
  .footer-row{
    flex-direction: column;
  }
  .footer-col{
    width: 90%;
  }
}

@media (min-width: 768px) {
    /*About-us section*/
    .about-section img{
      width: 20rem;
      height: 25rem;
    }
    /*SHOP-NOW*/
    .shop-now-section{
      flex-direction: row;
    }
    .display{
      margin: 10px;
    }
}

@media (min-width: 1200px) {
  /*About-us section*/
  .about-section img{
    width: 30rem;
    height: 25rem;
  }
  /*SHOP-NOW*/
  .shop-now-section{
    flex-direction: row;
  }
}